/* Uniform character encoding */

@charset "UTF-8";
/*=========basic styles starts=============*/

/* html style
-----------------------------------*/

html {
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased;
}

/* tune smaller scrollbar width*/

html::-webkit-scrollbar {
    width: 13px;
}

/* disable the buttons on the scrollbar (arrows pointing upwards and downwards). */

html::-webkit-scrollbar-button {
    display: none;
}

/*  custom the draggable scrolling handle. */

html::-webkit-scrollbar-thumb {
    min-height: 16px;
    background-color: #999999;
    background-clip: padding-box;
    border: 3px solid #fdfdfd;
    border-radius: 5px;
}

/* typography style
-----------------------------------*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #333333;
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto font-size" 16px;
    width: 100%;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.8;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
}

/* divider line */

hr {
    border: 1px solid #f3f3f3;
}

/* a style
--------------------------------*/

a {
    text-decoration: none;
}

/* a:link, a:visited {
    transition: all 0.15s linear;
    color: #424242;
}

a:hover, a:active {
    text-decoration: underline;
} */

/*=========basic styles ends=============*/

/* archive style */

/* 374 line */