<header class="header">
    <div class="site-title">

        <!-- site-title body -->
        <div class="site-title__body">
            <h1 class="site-title__title">
                <a class="site-title__link" href="{{ .Site.BaseURL }}">
                    <span>{{ .Site.Title }}</span>
                </a>
            </h1>
        </div>

        <!-- site-title description -->
        <div class="site-title__description social">
            <p class="social__title">{{ with .Site.Params.subTitle }}{{ . }}{{ else }}{{ end }}</p>
            <div class="social__icons">
                {{ range $key, $val := .Site.Social }}
                {{ if ne $val "" }}
                <a class="social__link" href="{{ $val }}" title="{{ $key }}" target="_blank"><i
                        class="ri-{{ $key }}-fill"></i></a>
                {{ end }}
                {{ end }}
                <a class="social__link" href="{{ .Site.RSSLink }}" type="application/rss+xml" title="rss"
                    target="_blank"><i class="ri-rss-fill"></i></a>
            </div>
        </div>

    </div>
</header>