<nav class="nav">
    <!-- nav list -->
    <!-- nav__body  is child of nav-->
    <!-- so that new a nav-list as parent(new module) for innner children"  -->
    <div class="nav__body nav-list" id="siteNav">
        <ul class="nav-list__container">
            {{ range .Site.Menus.main }}
            <li class="nav-list__item">
                <a class="nav-list__link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>

    <!-- nav menu -->
    <div class="nav__menu">
        <a id="menuIcon"><i class="ri-menu-line"></i></a>
    </div>
</nav>

<style>
    /* nav style */

    .nav {
        position: relative;
        width: 740px;
        height: 3rem;
        margin: 0 auto;
        padding: 20px 0;
    }

    .nav__body {}

    .nav__menu {}

    .nav-list {
        position: absolute;
        right: 10px;
    }

    .nav-list__container {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-list__item {
        display: inline-block;
    }

    .nav-list__link {
        display: block;
        white-space: nowrap;
        padding: 10px;
        font-size: 14px;
    }

    .nav-list__link:link,
    .nav-list__link:visited {
        transition: all 0.15s linear;
        color: #424242;
    }

    .nav-list__link:hover,
    .nav-list__link:active {
        text-decoration: underline;
    }
</style>