<nav class="nav">
    <div class="nav__menu">
        <a id="menuIcon" class="nav__menu-link">
            <i class="ri-menu-line nav__menu-link-icon"></i>
            <!-- when click, toggle icon class name-->
        </a>
    </div>

    <ul class="nav__list nav--animated nav--fadeInDown">
        {{ range .Site.Menus.main }}
        <li class="nav__list-item">
            <a class="nav__list-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</nav>

<style>
    .nav {
        position: relative;
        width: 740px;
        height: 3rem;
        margin: 0 auto;
        padding: 20px 0;
    }

    @media screen and (max-width: 900px) {
        /* make nav not fixed width*/
        .nav {
            width: 95%;
        }
    }

    .nav__list {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav__list-item {
        list-style: none;
        display: inline-block;
    }

    .nav__list-link {
        display: block;
        white-space: nowrap;
        padding: 12px;
        font-size: 14px;
    }

    .nav__list-link:link,
    .nav__list-link:visited {
        transition: all 0.15s linear;
        color: #424242;
    }

    .nav__list-link:hover,
    .nav__list-link:active {
        text-decoration: underline;
    }

    .nav__menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .nav__menu-link {
        display: none;
        cursor: pointer;
    }

    @media screen and (max-width: 680px) {
        .nav {
            position: relative;
            z-index: 999;
        }

        /* animation fadeInDown*/
        .nav--animated {
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        .nav--fadeInDown {
            animation-name: fadeInDown;
        }

        .nav__list {
            display: none;
        }

        .nav__list--active {
            display: block;
            text-align: center;
            background-color: #ffffff;
            box-shadow: 0 10px 20px 0 rgba(236, 236, 236, 0.86);
        }

        .nav__list-item {
            width: 100%;
        }

        .nav__menu-link {
            display: block;
        }
    }
</style>