{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ range $paginator.Pages }}
<div class="post">
    <!-- post title -->
    <div class="post__title">
        <h2 class="post__title-text">
            <a class="post__title-link" href='{{ .RelPermalink }}'>{{ .Title }}</a>
        </h2>
    </div>

    <!-- post summary -->
    {{ if .Site.Params.enableSummary }}
    <div class="post__summary">
        <div class="post__summary-content markdown">
            <p>{{ .Summary }}......</p>
        </div>
    </div>
    {{ end }}

    <!-- post footer -->
    <div class="post__footer">
        <div class="meta">
            <span class="meta__timeline">
                <i class="ri-map-pin-time-line"></i>
                <span class="meta__datetime">{{ .Date.Format "2006.01.02" }}</span>
            </span>

            {{ with .Params.tags }}
            <span class="meta__tags">
                <i class="ri-stack-line"></i>
                {{ range . }}
                <a class="meta__tags-link" href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}

<!-- pagination -->
<div class="post__pagination">
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}

    {{ if $paginator.HasPrev }}
    <a href="{{$paginator.Prev.URL}}" class="post__pagination-prev">
        {{ i18n "prev_page" }}
    </a>
    {{ end }}

    {{ if $paginator.HasNext }}
    <a href="{{$paginator.Next.URL}}" class="post__pagination-next">
        {{ i18n "next_page" }}
    </a>
    {{ end }}

    {{ end }}
</div>

<style>
    /* post style */

    .post {
        background-color: #ffffff;
        /* make every post vertical gap */
        margin-top: 50px;
    }

    @media screen and (max-width: 900px) {
        .post {
            padding-top: 0;
        }
    }

    .post__title-text {}

    .post__title-link {
        color: black;
    }

    .post__title-link:hover {
        text-decoration: underline;
    }

    /* post summary */

    .post__summary-content {}

    /* post footer */

    .post__footer {
        padding: 15px 0;
        border-bottom: 1px solid #7e7e7e;
    }

    .meta {
        height: 25px;
        font-size: 16px;
    }

    .meta__timeline {}

    .meta__datetime {
        color: #7e7e7e;
        margin-right: 10px;
    }

    .meta__tags-link {
        color: #7e7e7e;
    }

    .meta__tags-link:hover {
        color: #1f1f1f;
        text-decoration: underline;
    }

    .post__pagination {
        position: relative;
        height: 80px;
        display: flex;
        align-items: center;
    }

    .post__pagination-prev {
        position: absolute;
        display: inline-block;
        left: 0;
        color: #7e7e7e;
    }

    .post__pagination-prev:hover {
        color: #1f1f1f;
        text-decoration: underline;
    }

    .post__pagination-next {
        position: absolute;
        display: inline-block;
        right: 0;
        color: #7e7e7e;
    }

    .post__pagination-next:hover {
        color: #1f1f1f;
        text-decoration: underline;
    }
</style>